body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.meta {
  width: 70vw;
  padding: 1em;
  margin-bottom: 50px;
  font-weight: 500 !important;
}

.message-body textarea {
  height: 80vh;
}
.copy {
  margin: auto !important;
}
